@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Домашняя страница</h1>
    <p class="lead">Этот сайт пренадлежит Анастасии Чаусовой. Здесь вы можете заказывать самые свежие и вкусные продукты на любой вкус. Для того чтобы оформить свой заказ, вам необходимо зарегестрироваться</p>
</div>

<div class="menu"></div>

